*{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family:Open-sans-bold;
	src:url('../fonts/font-chu/OpenSans-Bold.ttf');
}
@font-face{
	font-family:Open-sans-Semibold;
	src:url('../fonts/font-chu/OpenSans-SemiBold.ttf');
}
@font-face{
	font-family:SourceSansPro-Bold;
	src:url('../fonts/font-chu/SourceSansPro-Bold.ttf');
}
@font-face{
	font-family:SourceSansPro-Regular;
	src:url('../fonts/font-chu/SourceSansPro-Regular.ttf');
}
@font-face{
	font-family:Sourcesanspro-Semibold;
	src:url('../fonts/font-chu/SourceSansPro-SemiBold.ttf');
}
h1, h2, h3, h4, h5, h6, p, a, ul, li,.navbar-default,.case{
	margin: 0;
}
h1, h2, h3, h4, h5, h6{text-transform: capitalize;}

ul,li{list-style: none;}

.container,.case .row,.case .col-sm-6,.navbar-collapse,.about .about-col-6{
	padding:0;
}
a:hover,a:focus{text-decoration:none;color: #fff;}

a{display: block;}

body{background-color: #fff;}

textarea,input,button,.uneditable-input {outline: none;}

.navbar-default {
    background-color: transparent;
    border: 0;
}
/*-------------------------------------------------------------header---------------------------------------------------------------------------*/
.menu_fix{
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	right: 0;
	left:0;
	display:none;
}
.header_top_contac li a {
    color: #fff;
    padding: 5px 0;
}
.header_top_contac li a i {
    margin: 0 4px;
	transition: all 0.4s;
}
.header_top_contac .thongbao {margin: 0 33px;}

.header_top2 {
    background-color: #ff4545;
}
.header_top {
    background-color: #b30000;
}
.header_top_contac li a:hover i{
	transform:scale(1.2);
}
.navbar-nav li a:hover{
	background-color: transparent;
}
ul.nav.navbar-nav.navbar-right.menu-hotro {
    padding: 0 26px;
}
/*-------------------------------------------------------------header_reconsip---------------------------------------------------------------------------*/
.navbar-right .shop a .soluong {
    color: #f00;
    width: 29px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 14px;
}
.collapse .my_menu li{margin:0 2px;}
.collapse .my_menu li a, .menu_all .menu_phone li a,.longin button {
    color: #fff;
    font-size: 15px;
    padding: 5px 20px;
    transition: all 0.4s;
    font-family: Open-sans-Semibold;
    overflow: hidden;
    border-radius: 50px;
}
.collapse .my_menu .empty {
    width: 2px;
    height: 20px;
    background-color: #fff;
    margin: 9px 0px;
}
.collapse .my_menu li a:hover ,.menu_all .menu_phone li a:hover,.longin button:hover{
	background-color: #b30000;
	color: #fff;
	overflow: inherit;
}
.menu_all .menu_phone li a:focus,.collapse .my_menu li a:focus{
	background-color: transparent;
	color: #fff;
}
.menu_all .menu_phone .thongbao a {
    padding: 2.5px 25px;
    font-size: 25px;
}
.navbar-default .navbar-nav>.active a, .navbar-default .navbar-nav>.active:focus a, .navbar-default .navbar-nav>.active:hover a{
	background-color: #b30000;
	color: #fff;
}
.my_menu .none {
    display: none;
}
ul.my_menu.nav.navbar-nav.menu-left {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
	    margin: 5px 0;
}
.menu_phone li a i {
    margin: 0 15px 0 0;
}
.menu_phone .search_li {
    margin-left: 150px;
}
.menu_all .menu_phone {
    margin: 17px 0;
}
.header_top2 .header_top2_1 {
    display: block;
    border-bottom: solid 1px #fff;
}
.longin button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}
.header_top_contac li.li_address {
    margin: 0 0 0 20px;
}
/*-------------------------------------------------------------header---------------------------------------------------------------------------*/
/*-------------------------------------------------------------title_websile---------------------------------------------------------------------------*/
.title .title_all .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.title_all h2 {
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 65px;
}
/*-------------------------------------------------------------title_websile---------------------------------------------------------------------------*/
/*-------------------------------------------------------------tooltip---------------------------------------------------------------------------*/
.thongbao .tooltiptext {
    opacity: 0;
    width: 226px;
    height: 246px;
    background-color: #fff;
    color: #f00;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -77px;
    margin-left: -60px;
    transition: all 0.4s;
	z-index:-1;
}
.thongbao .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 14%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.thongbao:hover .tooltiptext {
    opacity: 1;
	z-index:1;
}
/*-------------------------------------------------------------tooltip---------------------------------------------------------------------------*/
/*-------------------------------------------------------------search---------------------------------------------------------------------------*/
.search-wrapper {
 
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 45px;
    width: 45px;
    overflow: hidden;
    background: rgb(255,255,255);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width: 300px;
    border-radius: 50px;
    background: rgb(0,0,0);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width: 100%;
    height: 35px;
    padding: 0px 10px 0 50px;
    opacity: 0;
    position: absolute;
    top: -3px;
    left: 0px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 6px;
    background: #FFF;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 100%;
}
.search-wrapper .input-holder .search-icon i {
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    font-size: 21px;
}
.search-wrapper.active .input-holder .search-icon i {
    transform: rotate(-45deg);
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 20px;
    line-height: 35px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all 0.3s;
}
.search-wrapper.active .close {
    right: -47px;
    transform: rotate(45deg);
    transition: all 0.6s;
    opacity: 1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
}
/*-------------------------------------------------------------search---------------------------------------------------------------------------*/
/*-------------------------------------------------------------tab_menu---------------------------------------------------------------------------*/
.new_menu_title {
    box-shadow: 0px 0px 127px #f00 inset;
    border-radius: 4px;
    padding: 8px 18px;
}
.new_menu_title h2 {
    color: #fff;
}
.new_menu_contac {
    display: inline-block;
    width: 100%;
    margin: 25px 0;
    box-sizing: border-box;
    padding: 0px 0;
	transition: all 0.4s;
}
.new_menu_contac .new_menu_11 {
    padding: 0 15px;
}
.numb1 .numb4 {
    margin: 20px 0;
}
.new_menu_img{
	float: left;
}
.new_menu_content {
    float: left;
    width: 74%;
	padding: 0 25px 0 0;
}
.new_menu_padding {
    padding: 0 0 0 25px;
}
.content-all {
    background-image: url('../images/bgr.jpg');
}
.col-sm-10,.col-sm-2{background-color: #fff;}
.numb2 h3 {
    margin: 15px auto 5px;
    font-size: 19px;
    text-transform: capitalize;
    color: #000;	
	font-family: Open-sans-bold;
}
.numb1 .numb3 {
    display: flex;
    margin: 10px 0;
}
.numb3 p {
    font-size: 13px;
    margin-right: 45px;
    color: #e97605;
    font-weight: bold;
}
.numb3 p:first-child {
    color: #b2b2b2;
    font-size: 12px;
    text-decoration: line-through;
}
.numb input {
    text-align: center;
    width: 114px;
    padding: 3px  12px;
    font-size: 20px;
    border: solid 2px #53be49;
    border-radius: 50px;
}
.numb button {
    text-align: center;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 50px;
    border: 0;
    background-color: #d51f1d;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.4s;
    box-shadow: 0px 1px 1px #751413;
}
.numb button:hover {
    background-color: #fff;
    color: #d51f1d;
    box-shadow: 0px 0px 1px 1px red inset;
}
.float_right {
    float: right;
}
.new_menu_contac:hover{
    box-shadow: 0px 0px 20px #000;
}
.menu_next li a {
    color: #402c15;
    width: 25px;
    height: 25px;
    border: solid 1px #d1b899;
    padding: 0;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    background-color: #dbc4a9;
	transition: all 0.4s;
}
.menu_next li {
    margin: -1px 5px 0 0;
}
ul.nav.navbar-nav.menu_next {
    border-top: solid 1px #d1b899;
    margin: 15px 0;
    width: 100%;
}
.menu_next li a:hover{
	border-top: solid 1px #fff;
	z-index: 1;
}
.menu_next li a.menu_next_active{
	background-color: transparent;
	border-top: solid 1px #fff;
}
/*-------------------------------------------------------------tab_menu---------------------------------------------------------------------------*/
/*-------------------------------------------------------------hover_img_ovrly24---------------------------------------------------------------------------*/
.ovrly24 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.ovrly24 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
	transition: all 0.4s;
}
.ovrly24 .ovrly {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ovrly24 .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ovrly24 .buttons .fa {
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    margin: 0 1px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.2s 0.3s;
    -moz-transition: all 0.2s 0.3s;
    -o-transition: all 0.2s 0.3s;
    transition: all 0.2s 0.3s;
    opacity: 0;
}
.mix_a:hover .ovrly {
    -webkit-box-shadow: 0 0 10px 144px  rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 0 10px 144px  rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 10px 144px  rgba(0, 0, 0, 0.5) inset;
}
.mix_a:hover .ser-img img{
	transform: scale(1.2);
}
.mix_a:hover .mix_them {
    box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.22);
}
/*-------------------------------------------------------------hover_img_ovrly24---------------------------------------------------------------------------*/
/*-------------------------------------------------------------đăng ký_ đăng nhập---------------------------------------------------------------------------*/
.model_them .container {
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
}
.model_them form {
    position: absolute;
    text-align: center;
    background: #fff;
    width: 500px;
    height: 570px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    top: 20%;
    left: 40%;
}
.model {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    z-index: 10;
	top:-200%;
	transition: all 0.8s;
}
.model_add{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
	z-index: 10;
	transition: all 0.8s;
	top: 0;
}
.model_them p {
    text-transform: capitalize;
    font-size: 14px;
    color: #87613d;
    margin: 12px 0px;
}
.dnv .fb i {
    font-size: 18px;
}
.dnv .fb {
    margin: 0 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: solid 1px;
    border-radius: 100%;
	transition:  all 0.4s;
}
.dnv .fb:hover{
	color: #337ab7;
	border:solid 1px #0ff;
	transform:scale(1.2);
}
.model_them p > span {
	padding-top: 3px;
	display: block;
	font-weight: 400;
	font-size: 9px;
}
.model_them .dnv {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.model_them h3 {
    font-size: 25px;
    text-transform: capitalize;
    color: #87613d;
    margin-bottom: 50px;
}
.model_them .form-btn {
	position: absolute;
	width: 50%;
	height: 60px;
	bottom: 0;
	border: 0;
	font-size: 24px;
	text-transform: uppercase;
}
.model_them a.form-btn.sx {
	left: 0;
	border-radius: 0 0 0 5px;
	background-color: rgba(255, 125, 0, 0.35);
	color: #fff;
	transition:all 0.3s linear;
	line-height: 60px;
}
.model_them a.form-btn.sx:hover {
	background-color:rgba(255, 125, 0, 0.65);
	color: #fff;
}
.model_them a.form-btn.sx.back {
    transition: all 0.3s linear;
    background-color: rgba(255, 125, 0, 0.35);
}
.model_them a.form-btn.sx.back:hover {
	background-color: rgba(0, 0, 0, 0.35);
}

.model_them .form-btn.dx {
	right: 0;
	border-radius: 0 0 5px 0;
	background-color: #ff7d00;
	color: #fff;
}

.model_them input {
    border: none;
    border-bottom: 1px solid #ffc185;
    width: 85%;
    font-family: 'Roboto';
    color: #ff7d00;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
    padding: 16px 0;
}
form a.close {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.7;
    font-size: 31px;
}
::-webkit-input-placeholder {
   color: #ffc185;
	font-family: 'Roboto';
	font-weight:100;
}

:-moz-placeholder {
   color: #ffc185;  
	font-family: 'Roboto';
	font-weight:100;
}

::-moz-placeholder {
   color: #ffc185;  
	font-family: 'Roboto';
	font-weight:100;
}

:-ms-input-placeholder {  
   color: #ffc185; 
	font-family: 'Roboto';
	font-weight:100;
}

.signIn input,
.signUp .w100 {
	width: 100%;
}

.signIn{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
}

.signUp {
	z-index: 2;
}

.active-dx{
	animation-name: foregrounding-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.active-sx{
	animation-name: foregrounding-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-dx{
	animation-name: overshadowing-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-sx{
	animation-name: overshadowing-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes overshadowing-sx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes foregrounding-dx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@keyframes foregrounding-sx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(-400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}
/*-------------------------------------------------------------đăng_ký_đăng_nhập---------------------------------------------------------------------------*/
/*-------------------------------------------------------------foodter---------------------------------------------------------------------------*/
.food {
    background-color: #151515;
    padding: 50px 0;
}
.food-cont1 a {
    display: flex;
    color: #d7d7d7;
	font-family: SourceSansPro-SemiBold;
	transition: all 0.4s;
	    margin: 20px 0;
}
.food-cont1 p {
    color: #fff;
	transition: all 0.4s;
}
.food-content .empty {
    width: 50px;
    height: 4px;
    background-color: #f00;
    margin: 25px 0;
}
.food-cont3 p.left {
    float: left;
}
.food-cont3 p.right {
    float: right;
}
.food-cont2 .food-cont3 {
    display: inline-block;
    width: 100%;
    margin: 12px 0;
}
p.right.dacb {
    color: #f00;
}
.food-cont3 p {
    float: left;
    color: #fff;
	text-transform: capitalize;
}
.food-cont1 a:hover p{
	color: #e7272d;
}
.food-cont1 a img {
    margin-right: 22px;
}
.food-title h3 {
    color: #fff;
    text-transform: capitalize;
}
/*-------------------------------------------------------------foodter---------------------------------------------------------------------------*/
.rcopy {
    background-color: #e7272d;
    text-align: center;
    color: #fff;
    padding: 25px 0;
}
.dr_angle a {
    width: 45px;
    height: 45px;
    border-radius: 68%;
    background-color: #e7272d;
    text-align: center;
    line-height: 58px;
	transition: all 0.4s;
}
.dr_angle a:hover{ background-color: #fff;border: solid 1px #e7272d; }
.dr_angle a:hover i{ color: #e7272d; }
.food .dr_angle {
    position: fixed;
    bottom: 40px;
    right: 30px;
}
.food .scrollup1 {bottom: 88px;}

.dr_angle a i{
	color: #fff;
	font-size: 35px;
}
.angle_top{ opacity:0;}
/*-------------------------------------------------------------foodter---------------------------------------------------------------------------*/















